* {
  text-transform: uppercase;
  text-align: center;
}

.header {
  background-color: rgb(182, 240, 176);
  padding: 1rem;
}

.sidebar-left {
  background-color: rgb(204, 226, 243);
  padding: 1rem;
}

.content {
  background-color: #ffffff;
  padding: 1rem;
  
}

.sidebar-right {
  padding: 1rem;
  background-color: aqua;
}

.footer {
  background-color: rgb(230, 184, 240);
  padding: 1rem;
}